$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0088FF;
$secondary_paletteKeyColor: #6A75A6;
$tertiary_paletteKeyColor: #7771A4;
$neutral_paletteKeyColor: #707786;
$neutral_variant_paletteKeyColor: #6E7789;
$background: #0C141F;
$onBackground: #DCE2F3;
$surface: #0C141F;
$surfaceDim: #0C141F;
$surfaceBright: #323946;
$surfaceContainerLowest: #070E1A;
$surfaceContainerLow: #151C28;
$surfaceContainer: #19202C;
$surfaceContainerHigh: #232A37;
$surfaceContainerHighest: #2E3542;
$onSurface: #DCE2F3;
$surfaceVariant: #3E4757;
$onSurfaceVariant: #BEC7DA;
$inverseSurface: #DCE2F3;
$inverseOnSurface: #2A313D;
$outline: #8891A3;
$outlineVariant: #3E4757;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A7C8FF;
$primary: #A7C8FF;
$onPrimary: #003061;
$primaryContainer: #004689;
$onPrimaryContainer: #D5E3FF;
$inversePrimary: #005EB3;
$secondary: #B9C4FA;
$onSecondary: #232D5A;
$secondaryContainer: #394472;
$onSecondaryContainer: #DDE1FF;
$tertiary: #C7C0F9;
$onTertiary: #2F2A59;
$tertiaryContainer: #918BC0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D5E3FF;
$primaryFixedDim: #A7C8FF;
$onPrimaryFixed: #001B3C;
$onPrimaryFixedVariant: #004689;
$secondaryFixed: #DDE1FF;
$secondaryFixedDim: #B9C4FA;
$onSecondaryFixed: #0B1844;
$onSecondaryFixedVariant: #394472;
$tertiaryFixed: #E4DFFF;
$tertiaryFixedDim: #C7C0F9;
$onTertiaryFixed: #1A1442;
$onTertiaryFixedVariant: #464171;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #121B2A;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #8AADD3;
$term5: #9BA5EF;
$term6: #94D0FA;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C8DEF5;
$term13: #D4D7FF;
$term14: #F8FBFF;
$term15: #D6E2FF;
